<div class="izq">
    <table>
        <thead>
            <tr >
                <th class="odd" colspan="2"  >nombre</th>
            </tr>
        </thead>
        <tbody>
            <%= render  @areas  %>
        </tbody>
    </table>
</div>
