<nav  class="derenav">
    <div class="cuerporec">
        <ul>
            <li><%= link_to "Nueva area", new_area_path, method: :get, class:"noblue"  %></li>
            <li><%= link_to "usuario", cursos_path, method: :get, class:"noblue"  %></li>
            <li><%= link_to "area", areas_path, method: :get, class:"noblue"  %></li>

        </ul>
    </div>


</nav>