<nav  class="derenav">
    <div class="cuerporec">
        <ul>
            <li class="select"><%= link_to "volver", areas_path, method: :get, class:"noblue"  %></li>
            <li class="select"><%= link_to "agregar curso", new_area_curso_url(@area), class:"noblue" %></li>
            <li><%=button_to 'Borrar area', @area, method: :delete, form: {data: {turbo_confirm: '¿Estás seguro?' }}, class:"button" %></li>

        </ul>
    </div>


</nav>