<nav  class="derenav">
    <div class="cuerporec">
        <ul>
            <li><%= link_to "volver", :back, class:"noblue" %></li>
            <li><%= link_to "area", areas_path, method: :get, class:"noblue"  %></li>

        </ul>
    </div>


</nav>