<tr>
    <td>
        <%= link_to curso.nombre_curso, area_cursos_url(curso), class:"noblue"%>
    </td>
    <td>
        <%=link_to 'Borrar area', area_cursos_url(curso), method: :delete, form: {data: {turbo_confirm: '¿Estás seguro?' }}, class:"button" %>
    </td>

</tr>     