<%= form_for @area do |f| %>
    <div class="field">
        <%= f.text_field :nombre, placeholder:"ingrese nombre del area", class:"in"  ,required:"true"%>
    </div>
    <%= f.submit "Guardar", class:"bo" %> 
<% end %>
